body {
    background-color: #6637BC;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-circle {
    width: 200px;
    height: 200px;
    border: 25px solid #915BFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

time {
    font-family: 'Source Code Pro';
    font-size: 48px;
}

.work {
    color: #009688;
}

.rest {
    color: #F06292;
}
